{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="registration">
    <div class="header">
        <div class="header-container">
            <img src="{% static 'img/dpb-logo.png' %}" alt="Logo">
        </div>
    </div>
    <div class="content">
        <div class="form-container">
            <h1>Регистрация</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Логин" value="{{ form.username }}">
                <input type="email" name="email" placeholder="Email" value="{{ form.email }}">
                <input type="password" name="password" placeholder="Пароль">
                <input type="submit" value="Создать аккаунт" class="btn-save">
            </form>
            {% if form.errors %}<p class="error-msg">{{ form.errors }}</p>{% endif %}
            <div style="text-align: center; margin-top: 20px;">
                <a href="/" class="all-articles-link">На главную</a>
            </div>
        </div>
    </div>
</body>
</html>